# Node modules
node_modules/

# Environment files
.env
*.env

# Service account keys
serviceKey.json

# Logs
logs/
*.log

# VSCode settings
.vscode/

# Mac / system files
.DS_Store

**/node_modules/

auth/node_modules
auth/.env
auth/.env
.env
auth/logs

/node_modules


